 {{> top}}
<div class="box box-primary" style="max-width: 1000px; margin: 0px auto;">
    <h3 class="box-title" style="padding-left: 20px;">Registers</h3>
    <div class="box-body">
        <div class="col-md-12">
        <table class="table table-striped" id="blocks">
            <tbody><tr>
                <th>Height</th>
                <th>Age</th>
                <th class="hidden-xs">Transactions</th>
                <th class="hidden-xs">Total Sent</th>
                <th class="hidden-xs">Relayed By</th>
                <th>Size (kB)</th>
                <th>Weight (kWU)</th>
            </tr>
            
            
                <tr id="bi-1695258">
                    <td><a href="/block/0000000000000000000bac4a2708bf5d5b91e4a138578cb7f3d261833650e737">516768</a>
                    </td>
                    <td data-time="1522945373">8 minutes</td>
                    <td class="hidden-xs">1909</td>
                    <td class="hidden-xs"><span data-c="884412153093">8,844.12 BTC</span>
                    </td>
                    <td class="hidden-xs">
                        
                            
                                <a href="/blocks/Unknown">Unknown</a>
                            
                            
                        

                    </td>
                    <td>975.07</td>
                    <td>3,265.03</td>
                </tr>
            
                <tr id="bi-1695257">
                    <td><a href="/block/000000000000000000165d551481fd459b2a5c91b82335ace5d00f4470e897e1">516767</a>
                    </td>
                    <td data-time="1522944701">19 minutes</td>
                    <td class="hidden-xs">2002</td>
                    <td class="hidden-xs"><span data-c="1375783349763">13,757.83 BTC</span>
                    </td>
                    <td class="hidden-xs">
                        
                            
                                <a href="/blocks/SlushPool">SlushPool</a>
                            
                            
                        

                    </td>
                    <td>1,111.63</td>
                    <td>3,993</td>
                </tr>
            
                <tr id="bi-1696280">
                    <td><a href="/block/000000000000000000037cc242cb1d0998c20923b8417beac8e43aa984e728e8">516766</a>
                    </td>
                    <td data-time="1522943986">31 minutes</td>
                    <td class="hidden-xs">85</td>
                    <td class="hidden-xs"><span data-c="15165660808">151.66 BTC</span>
                    </td>
                    <td class="hidden-xs">
                        
                            
                                <a href="/blocks/GBMiners">GBMiners</a>
                            
                            
                        

                    </td>
                    <td>35.15</td>
                    <td>117.22</td>
                </tr>
            
                <tr id="bi-1695256">
                    <td><a href="/block/00000000000000000012d08e84635f26624d5b3bd8efe9334b6a3156e2954e1f">516765</a>
                    </td>
                    <td data-time="1522943913">33 minutes</td>
                    <td class="hidden-xs">995</td>
                    <td class="hidden-xs"><span data-c="149609704020">1,496.10 BTC</span>
                    </td>
                    <td class="hidden-xs">
                        
                            
                                <a href="/blocks/Unknown">Unknown</a>
                            
                            
                        

                    </td>
                    <td>469.81</td>
                    <td>1,703.67</td>
                </tr>
            
        </tbody></table>
        </div>
    </div>
</div>
{{> btm}}